# macOS stuff
.DS_Store

# Emacs stuff
*~
.dir-locals.el
*#

__pycache__
.ipynb_checkpoints

# Furigana data
JmdictFurigana.json

# Output
*.apkg

# Jupyter tests
*.ipynb

# KanjiVG
kanji
*.zip
*.gz
*.xml